body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
/* ------------------------ */
/* ---- Navigation bar ---- */
#side_nav a {
  position: fixed;
  left: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 180px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#side_nav a:hover {
  left: 0;
  /*border-right: 4px solid black;
  border-bottom: 4px solid black;*/
  box-shadow: 8px 4px 5px black;
  background-color: #555;
}

#side_nav a.active {
  left: 0;
  /*border-right: 4px solid black;
  border-bottom: 4px solid black;*/
  box-shadow: 8px 4px 5px black;
  background-color: #CC9933;
}

#home {
  top: 20px;
  background-color: rgba(85,85,85,0.5);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#about {
  top: 80px;
  background-color: rgba(85,85,85,0.5);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#work {
  top: 140px;
  background-color: rgba(85,85,85,0.5);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#projects {
  top: 200px;
  background-color: rgba(85,85,85,0.5);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

/*#contact {
  top: 260px;
  background-color: rgba(85,85,85,0.5);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}*/

/***********************/
.linkdin:hover{
  opacity: 0.6;
}

.git:hover{
  opacity: 0.6;
}

.linkdin {
  height: 100%;
  min-height: 40px;
  width: 45%;
  background-size: contain;
  background-image:url('photos/in.png');
  background-repeat: no-repeat;
  background-position: right;
  float: left;
}

.git {
  height: 100%;
  min-height: 40px;
  width: 45%;
  background-size: contain;
  background-image:url('photos/git.png');
  background-repeat: no-repeat;
  background-position: left;
  float: right;
}
