/* ---- Navigation bar ---- */
#navbar {
  overflow: hidden;
  background-color: #001933;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* ---- Contact ----- */

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #001933;
  bottom: 0;
  width: 100%;
}

li {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 17 px;
  vertical-align: middle;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
}

li a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0 auto;
  min-height:100%;
  padding: 0;
  padding-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---- General ----- */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html { height: 100%;}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:black ;
  opacity: 0.2;
  height: 1px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  text-decoration: underline;
}

/* ---- header ---- */

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

/* Caption text */
.text {
  color: white;
  font-size: 90px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

.text > p {
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  -webkit-animation: mymove1 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove1 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove1 {
  from {color: red;}
  to {color: orange;}
}

/* Standard syntax */
@keyframes mymove1 {
  from {color: red;}
  to {color: orange;}
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ---- About section ---- */
.my_pic {
  width: 40%;
  height: 600px;
  min-width: 300px;
  background-image:url('images/me2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  background-color: white;
  border-right: 15px solid white;
  margin: 0px;
}

.about_text {
  width: 55%;
  min-width: 300px;
  text-align: left;
  float: left;
  vertical-align: middle;
  font-size: 170%;
  word-wrap: break-word;
  color: black;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px;
}

.about_container {
  border: 25  px solid black;
}

/* ---- Skills ---- */
.skills_container > *{
  width: 33%;
  float: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-template-rows: repeat(auto-fill, 70px);
  grid-auto-flow: row;
  grid-gap: 70px;
  background-color: white;
  padding-left: 20px;
  border-top: 50px solid white;
  border-bottom: 50px solid white;
}

.skills_spec1 {
  background-image:url('images/skills/java.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec2 {
  background-image:url('images/skills/c.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec3 {
  background-image:url('images/skills/matlab.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec4 {
  background-image:url('images/skills/perl.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec5 {
  background-image:url('images/skills/html.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec6 {
  background-image:url('images/skills/css.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
.skills_spec7 {
  background-image:url('images/skills/git.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec8 {
  background-image:url('images/skills/phyton.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.skills_spec9 {
  background-image:url('images/skills/office.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skills_spec10 {
  background-image:url('images/skills/js.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ---- Projects ---- */

.gallery {
  border: 1px solid #ccc;
  float: left;
  max-width: 350px;
  min-width: 280px;
  height: 100%;
  font-size:130%;
  margin: 25px;
  margin-right: 0px;
  margin-bottom: 70px;
  box-shadow: 10px 10px 5px grey;
  -webkit-animation: mymove2 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove2 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove2 {
  50% {box-shadow: 10px 20px 30px grey;}
}

@keyframes mymove2 {
  50% {box-shadow: 10px 20px 30px grey;}
}

.desc {
  padding: 15px;
  text-align: left;
}

.button {
  background-color: #001933;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  opacity: 0.8;
}

/* ---- Work Experience ---- */

.accordion_work {
/*  background-color: #000000; */
  background-image: linear-gradient(to right, black , blue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid white;
  text-align: justify;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .accordion_work:hover {
  background-image: linear-gradient(to right, black , black);
}

.panel_work {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  float: left;
  display: none;
  background-image: linear-gradient(to right, #DBDBDB , white);
  overflow: hidden;
  border: 1px solid white;
  margin-bottom: 10px;
}

.panel_text {
  width: 60%;
  min-width: 300px;
  padding: 18px;
  float: left;
  text-align: left;
}

.aramark {
  width: 30%;
  height: 150px;
  padding: 19px;
  margin-top: 60px;
  float: right;
  background-image:url('images/work/aramark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pretzel {
  width: 30%;
  height: 150px;
  padding: 19px;
  margin-top: 60px;
  float: right;
  background-image:url('images/work/pretzel.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.army {
  width: 30%;
  height: 150px;
  padding: 19px;
  margin-top: 40px;
  float: right;
  background-image:url('images/work/salvation.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cross {
  width: 30%;
  height: 150px;
  padding: 19px;
  margin-top: 60px;
  float: right;
  background-image:url('images/work/redCross.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.interspace {
  width: 30%;
  height: 150px;
  padding: 19px;
  margin-top: 60px;
  margin-right: 50px;
  float: right;
  background-image:url('images/work/interspace.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.idf {
  width: 30%;
  height: 250px;
  padding: 19px;
  margin-top: 180px;
  float: right;
  background-image:url('images/work/idf.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ---- Volunteering ---- */
.accordion_volunteer {
  background-image: linear-gradient(to right, black , #790000);
  /*background-color: #790000; */
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid white;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .accordion_volunteer:hover {
  background-image: linear-gradient(to right, black , black);
}

.panel_volunteer {
  width: 100%;
  font-size: 18px;
  float: left;
  display: none;
  background-image: linear-gradient(to right, red , white);
  overflow: hidden;
  border: 1px solid #C0C0C0;
  margin-bottom: 10px;
}

.mda {
  width: 40%;
  height: 150px;
  margin-top: 40px;
  float: right;
  background-image:url('images/work/mda.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
